<!doctype html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title})}">
<html>
<head>
    <title>Profile</title>
</head>
<body>
<div id="content">
    <div th:if="${loggedInUser}">
        <div th:replace="~{user/sidebar :: sidebar}"></div>
    </div>
    <div style="padding-top: 120px" class="sm:pl-64">
        <div class="grid grid-cols-12">
            <div class="col-span-4 md:col-span-2 lg:col-span-3"></div>
            <div class="col-span-4 md:col-span-8 lg:col-span-6">
                <div href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h5 class="text-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        Hello <span th:text="${loggedInUser.name}"></span>
                    </h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">
                        <dl class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
                            <div class="flex flex-col pb-3">
                                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Email address</dt>
                                <dd class="text-lg font-semibold" th:text="${loggedInUser.email}"></dd>
                            </div>
                            <div class="flex flex-col py-3">
                                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Phone Number</dt>
                                <dd class="text-lg font-semibold" th:text="${loggedInUser.phoneNumber}"></dd>
                            </div>
                            <div class="flex flex-col pt-3">
                                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Is Account Enabled?</dt>
                                <dd class="text-lg font-semibold" th:text="${loggedInUser.enabled?'Yes':'No'}"></dd>
                            </div>
                            <div class="flex flex-col pt-3">
                                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Is Email Verified?</dt>
                                <dd class="text-lg font-semibold" th:text="${loggedInUser.emailVerified?'Yes':'No'}"></dd>
                            </div>
                            <div class="flex flex-col pt-3">
                                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Is Phone Number Verified?</dt>
                                <dd class="text-lg font-semibold" th:text="${loggedInUser.phoneVerified?'Yes':'No'}"></dd>
                            </div>
                            <div class="flex flex-col pt-3">
                                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Total Number of contacts added</dt>
                                <dd class="text-lg font-semibold" th:text="${loggedInUser.contacts.size()}"></dd>
                            </div>
                            <div class="flex flex-col pt-3">
                                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Role</dt>
                                <dd class="text-lg font-semibold" th:text="${loggedInUser.roleList.get(0).equals('ROLE_USER')?'User':'Admin'}"></dd>
                            </div>
                        </dl>
                    </p>
                </div>

            </div>
            <div class="col-span-4 md:col-span-2 lg:col-span-3"></div>
        </div>
    </div>
</div>
</body>
</html>