<aside th:fragment="sidebar" id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-8 overflow-y-auto bg-gray-50 dark:bg-gray-800">
        <a href="https://flowbite.com/" class="flex items-center ps-2.5 mb-5">
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">
               Welcome
            </span>
        </a>
        <ul class="space-y-2 font-medium">
<!--            <li>-->
<!--                <a th:href="@{'/user/dashboard'}" class="flex items-center p-5 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">-->
<!--                    <span class="ms-3">Dashboard</span>-->
<!--                </a>-->
<!--            </li>-->
            <li>
                <a th:href="@{'/user/profile'}" class="flex items-center p-5 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <span class="flex-1 ms-3 whitespace-nowrap">Profile</span>
<!--                    <span class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300">Pro</span>-->
                </a>
            </li>
            <li>
                <a th:href="@{'/user/contact/add'}" class="flex items-center p-5 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <span class="flex-1 ms-3 whitespace-nowrap">Add Contact</span>
                </a>
            </li>
            <li>
                <a th:href="@{'/user/contact'}" class="flex items-center p-5 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <span class="flex-1 ms-3 whitespace-nowrap">Contacts</span>
                </a>
            </li>
        </ul>
    </div>
</aside>