<!doctype html>
<html lang="en" th:fragment="parent(content, title)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:replace="${title}"></title>
    <link th:href="@{'/css/output.css'}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    <div th:if="${loggedInUser}">
        <div th:replace="~{user/navbar :: user-navbar}"></div>
    </div>
    <div th:unless="${loggedInUser}">
        <div th:replace="~{navbar::navbar}"></div>
    </div>
    <!--  Main Content  -->
    <div th:replace="${content}"></div>
    <!--FLOWBITE CONTENT-->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>
</html>